@model _301153142_301137955_Soto_Ko_Lab3.Models.Movie.IndexViewModel

@{
}

<div class="text-center">
    <h1 class="display-4">Search Movies!</h1>
    <form method="get" action="/movie"> 
        Genre: <input name="genre" />
        <button type="submit">Search</button>
    </form>
    <ul>
        @foreach (var movie in Model.Movies)
        {
            <li>@movie.Title @movie.Genre</li>
        }
    </ul>
</div>