html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: #222;
    background: #fff;
    font: 100%;
}

a {
    color: #0033cc;
}

@media {
    body {
        color: #eee;
        background: #030404;
    }

        body a {
            color: #809fff;
        }
}

.form-floating > .form-control:focus, .form-floating > .form-control:not(:placeholder-shown) {
    margin-top: 20px;
    margin-bottom: 20px;
}


.success-banner {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 4px;
    position: relative;
}

.error-banner {
    background-color: #CD2F43;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 4px;
    position: relative;
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.form-group .star-container {
    display: block;
    margin-top: auto;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

/*nav bar related*/
/*.navbar {
    color: #222;
    font: 100% system-ui;
}
navbar a {
    color: white;
}*/

/*Stars rating*/
:root {
    --primary-colour: #ffffff;
    --secondary-colour: #000000;
    --star-colour: #ffd800;
}

.star-container {
    position: relative;
    height: 110px;
    width: 50%;
    transform: rotateY(180deg);
}

.star-container .container__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 .5em;
    width: 100%;
    height: 100%;
}

    .star-container .container__items input {
        display: none;
    }

    .star-container .container__items label {
        width: 20%;
        aspect-ratio: 1;
        cursor: pointer;
    }

        .star-container .container__items label .star-stroke {
            display: grid;
            place-items: center;
            width: 100%;
            height: 100%;
            background: var(--secondary-colour);
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        }

            .star-container .container__items label .star-stroke .star-fill {
                width: 70%;
                aspect-ratio: 1;
                background: var(--primary-colour);
                clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            }

    .star-container .container__items input:hover ~ label .star-stroke, .star-container .container__items input:checked ~ label .star-stroke {
        background: var(--star-colour);
    }

        .star-container .container__items input:checked ~ label .star-stroke .star-fill {
            background: var(--star-colour);
        }

    .star-container .container__items label:hover .label-description::after {
        content: attr(data-content);
        position: fixed;
        left: 0;
        right: 0;
        margin-top: 5px;
        margin-bottom: 1em;
        width: 100%;
        height: 10px;
        color: #000000;
        text-align: center;
        font-size: 2rem;
        transform: rotateY(180deg);
    }

/*To display the stars only based on user rating*/
.star-container-display {
    position: relative;
    transform: rotateY(180deg);
}

    .star-container-display .container__items {
        display: flex;
        gap: 0 .5em;
        width: 20%;
        height: auto;
    }

        .star-container-display .container__items input {
            display: none;
        }

            .star-container-display .container__items input:checked ~ .star-stroke {
                background: var(--star-colour);
            }

                .star-container-display .container__items input:checked ~ .star-stroke .star-fill {
                    background: var(--star-colour);
                }

        .star-container-display .container__items .star-stroke {
            display: grid;
            place-items: center;
            width: 100%;
            height: 100%;
            background: var(--secondary-colour);
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        }

            .star-container-display .container__items .star-stroke .star-fill {
                width: 100%;
                height: 100%;
                aspect-ratio: 1;
                background: var(--primary-colour);
                clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
            }

/*Stars for Index view - search view*/
.star-container-display-index {
    position: relative;
    transform: rotateY(180deg);
}
.star-container-display-index .container__items {
    display: flex;
    gap: 0 .5em;
    height: auto;
}

    .star-container-display-index .container__items input {
        display: none;
    }

        .star-container-display-index .container__items input:checked ~ .star-stroke {
            background: var(--star-colour);
        }

            .star-container-display-index .container__items input:checked ~ .star-stroke .star-fill {
                background: var(--star-colour);
            }

    .star-container-display-index .container__items .star-stroke {
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        background: var(--secondary-colour);
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }

        .star-container-display-index .container__items .star-stroke .star-fill {
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
            background: var(--primary-colour);
            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
        }

.user-review {
    background-color: #f5f5f5; /* soft gray background */
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px; /* separation between each rating box */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* subtle shadow to give depth */
    transition: transform 0.3s, box-shadow 0.3s; /* smooth hover effect */
}

    .user-review:hover {
        transform: translateY(-5px); /* slight lift on hover */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* intensified shadow on hover */
    }

}

/* index (search) page table style */
.movie-list-table {
   width: 100%;
}



.text-center form {
    padding-bottom: 30px;
}

    /* thumbnail */
    .movie-list-table th:nth-child(1),
    .movie-list-table td:nth-child(1) {
        width: 15%;
    }

    /* title */
    .movie-list-table th:nth-child(2),
    .movie-list-table td:nth-child(2) {
        width: 35%;
    }

    /* genre */
    .movie-list-table th:nth-child(3),
    .movie-list-table td:nth-child(3) {
        width: 35%;
    }

    .movie-list-table .thumbnail-img {
        max-width: 100%;
    }

a {
    text-decoration: none;
    color: inherit;
}

.detail.thumbnail-img {
    padding: 20px;
    max-width: 50%;
}

.navbar-brand img {
    width: 60px;
    height:auto;
}

.no-border-table, .no-border-table tr, .no-border-table td {
    border: none;
    border-collapse: collapse;
    padding: 5px; /* For better spacing between genres */
}

.form-group {
    padding-top:10px;
    padding-bottom: 10px;
}

.form-group label {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-primary {
    background: #574778;
    border: none;
}