html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.success-banner {
    background-color: #4CAF50; 
    color: white; 
    padding: 12px 20px; 
    margin: 10px 0; 
    border-radius: 4px; 
    position: relative; 
}

.error-banner {
    background-color: #CD2F43;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 4px;
    position: relative;
}

.close-btn {
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    border: none; 
    background: none;
    color: white; 
    cursor: pointer; 
}