html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.success-banner {
    background-color: #4CAF50; 
    color: white; 
    padding: 12px 20px; 
    margin: 10px 0; 
    border-radius: 4px; 
    position: relative; 
}

.error-banner {
    background-color: #CD2F43;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 4px;
    position: relative;
}

.close-btn {
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    border: none; 
    background: none;
    color: white; 
    cursor: pointer; 
}

.detail.thumbnail-img {
    padding: 20px;
    max-width: 80%;
}

/* index (search) page table style */
.movie-list-table {
    width: 100%,
}

/* thumbnail */
.movie-list-table th:nth-child(1),
.movie-list-table td:nth-child(1) {
    width: 15%;
}

/* title */
.movie-list-table th:nth-child(2),
.movie-list-table td:nth-child(2) {
    width: 35%;
}

/* genre */
.movie-list-table th:nth-child(3),
.movie-list-table td:nth-child(3) {
    width: 35%;
}

/* avg rating */
.movie-list-table th:nth-child(4),
.movie-list-table td:nth-child(4) {
    width: 5%;
}

.movie-list-table .thumbnail-img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}